.break-word {
  word-break: break-word;
  word-wrap: break-word;
}

.float-right {
  float: right;
}

.nowrap {
  white-space: nowrap;
}

.w-100 {
  width: 100%;
}

.w-max-50 {
  max-width: 50%;
}
